node_modules/
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/capacitor-android/build/
ios/
*.log
.DS_Store
Thumbs.db
backup_*/
deploy/
android/.idea/
android/gradle/
android/gradlew*
